h1 {
    text-align: center;
}



main {
    background-color: black;
    width: 400px;
    margin: 0 auto;
}

img {
    display: block;
    animation: fade 15s;
}

footer {
    text-align: center;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}