* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    --heading-color: #9be6ff;
    --nav-color: #50b996;
    --h3-color: #b3fcff;
    --invalidFormColor: #cf3d3d;
    --formLabelColor: #cf3d3d;
    --formInputBackgroundColor: #eee;
    --formInputTextColor: black;
}

body.dark {
    background-color: #181a1b;
    color: #e8e6e3;
    --heading-color: #00536f;
    --nav-color: #398d78;
    --h3-color: #005D61;
    --invalidFormColor: #8C2323;
    --formLabelColor:#d27373;
    --formInputBackgroundColor: #222426;
    --formInputTextColor: white;
}

body.dark .navList a {
    color: black;
}

body.dark a.active {
    color: #e8e6e3;
}

header {
    background-color: var(--heading-color);
    padding: 2rem;
    font-size: 3rem;
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#logoImage {
    box-shadow: 4px 5px 6px rgba(0, 0, 0, .75);
}

header span {
    padding: 1rem;
}

#darkModeButton {
    position: absolute;
    top: 1rem;
    right: 0;
    cursor: pointer;
}


nav {
    background-color: var(--nav-color);
}

ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}

nav .navList a:hover {
    background-color: rgba(255, 255, 255, .3);
    color: black;
}

.active {
    background-color: rgba(0, 0, 0, .2);
}

#hamburgerMenuButton {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    width: 44px;
    padding: 0.2rem 0.3rem;
}

#hamburgerMenuButton::before {
    content: "\2630";
}

#hamburgerMenuButton.open::before {
    content: "X";
}

.navList {
    display: none;
}

.open {
    display: block;
}

main {
    max-width: 1000px;
    margin: 2rem auto 4rem;
    padding: 0 1rem
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
}

.hero a {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    color: black;
    padding: 0.5rem;
    white-space: nowrap;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-style: italic;
    font-size: 1.75rem;
    font-weight: 350;
}

.card, .scenery {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.card p, .card h3, .card ol {
    padding: .5rem 1rem;
}

div.card section, div.scenery img {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    margin: 2rem;
}

#discover div.sideBar section {
    margin: 1rem;
}

.scenery {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(230, 230, 230);
}

body.dark div.scenery {
    background-color: #181a1b;
}

.scenery h2 {
    width: 100%;
    margin-bottom: 1rem;
}

div.scenery img {
    width: 100%;
    height: auto;
    margin: 1rem 2rem;
}

figure {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

figcaption {
    position: absolute;
    left: 33px;
    bottom: 0;
    font-size: smaller;
    font-style: italic;
}

div.scenery figure:last-child {
    margin-bottom: 1rem;
}

#join, #thankYou {
    display: block;
    max-width: 700px;
}

#join h1 {
    margin-bottom: 3rem;
}

#join form {
    box-shadow: 0 0 5px var(--formInputTextColor);
    border-radius: 6px;
    padding: 0.5rem 2%;
    text-align: left;
}

#join fieldset {
    margin: auto 1rem;
    border-radius: 5px;
    padding-right: 1.25rem;
}

#join form fieldset:first-child {
    margin: 0.5rem 1rem 1rem;
}

#join legend {
    padding: 0.5rem;
}

#join label, #join input[type="submit"] {
    display: block;
    color: var(--formLabelColor);
    font-size: 0.9rem;
    margin: 0.75rem 0.5rem 2rem;
}

#join input[type="text"],
#join input[type="email"],
#join input[type="tel"],
#join input[type="submit"],
#join textarea {
    background-color: var(--formInputBackgroundColor);
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: 0.75rem;
    color: var(--formInputTextColor);
    width: 100%;
    max-width: 400px;
}

#join input[type="radio"] {
    margin-right: 0.5rem;
}

#join ol {
    list-style-position: inside;
}

#join ol li {
    padding: 0.25rem 0;
}

#join input[type="submit"] {
    background-image: linear-gradient(var(--formInputBackgroundColor), var(--formLabelColor));
    color: var(--formInputTextColor);
    margin: 1rem auto 2rem;
}

#join input[type="submit"]:hover {
    box-shadow: 0 0 20px var(--formInputTextColor);
}

#join input:required {
    border-left: 10px solid var(--invalidFormColor);
}

#join input:required:valid {
    border-left: 10px solid var(--nav-color);
}

#thankYou p {
    margin: 1.5rem;
    font-size: large;
    white-space: pre-line;
}

h3 { 
    background-color: var(--h3-color);
    font-weight: 400;
    padding: 0.5rem;
}

h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, .75);
    margin-bottom: 1rem;
}

h2 {
    background-color: var(--heading-color);
    font-weight: 400;
    padding: 0.5rem;
    text-align: center;
}

footer {
    background-color: var(--heading-color);
    text-align: center;
    padding: 0.1rem;
}