* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    --heading-color: #9be6ff;
    --nav-color: #50b996;
}

body.dark {
    background-color: #181a1b;
    color: #e8e6e3;
    --heading-color: #00536f;
    --nav-color: #398d78;
}

body.dark .navList a {
    color: black;
}

body.dark a.active {
    color: #e8e6e3;
}

body.dark .card a {
    color: #3391FF;
}

header {
    background-color: var(--heading-color);
    padding: 2rem;
    font-size: 3rem;
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#profileImage {
    box-shadow: 4px 5px 6px rgba(0, 0, 0, .75);
}

header span {
    padding: 1rem;
}

#darkModeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}


nav {
    background-color: var(--nav-color);
    text-align: left;
}

ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}

nav .navList a:hover {
    background-color: rgba(255, 255, 255, .3);
    color: black;
}

.active {
    background-color: rgba(0, 0, 0, .2);
}

#hamburgerMenuButton {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    width: 44px;
    padding: 0.2rem 0.3rem;
}

#hamburgerMenuButton::before {
    content: "\2630";
}

#hamburgerMenuButton.open::before {
    content: "X";
}

.navList {
    display: none;
}

.open {
    display: block;
}

main {
    max-width: 1000px;
    margin: 2rem auto 4rem;
    padding: 0 1rem
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
}

.hero span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 0.5rem;
    white-space: nowrap;
    font-family: "Rubik", sans-serif;
    font-style: italic;
    font-weight: 400;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.card p, .card ul{
    padding: .5rem 1rem;
}

h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, .75);
    margin-bottom: 1rem;
}

h2 {
    background-color: var(--heading-color);
    font-weight: 400;
    padding: 0.5rem;
    text-align: center;
}

iframe {
    width: 100%;
}

footer {
    background-color: var(--heading-color);
    text-align: center;
    padding: 0.1rem;
}