:root {
    --invalidFormColor: #cf3d3d;
    --formLabelColor: #cf3d3d;
    --formInputBackgroundColor: #eee;
    --formInputTextColor: black;
}

:root body.dark {
    --invalidFormColor: #8C2323;
    --formLabelColor:#d27373;
    --formInputBackgroundColor: #222426;
    --formInputTextColor: white;
}

main {
    display: block;
    max-width: 700px;
}

form {
    box-shadow: 0 0 5px var(--formInputTextColor);
    border-radius: 6px;
    padding: 0.5rem 2%;
    text-align: left;
}

label, input[type="submit"], #invalidMsg {
    display: block;
    color: var(--formLabelColor);
    font-size: 0.9rem;
    margin: 0.75rem 0.5rem 2rem;
}

#invalidMsg {
    margin-top: -1.5rem;
    font-size: 1.2rem;
    color: var(--formLabelColor);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"],
input[type="submit"] {
    background-color: var(--formInputBackgroundColor);
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: 0.75rem;
    color: var(--formInputTextColor);
    width: 100%;
    max-width: 400px;
}

#emailLabel {
    margin-top: 3.5rem;
}

#pageRatingValue {
    font-size: 1.2rem;
    font-weight: 600;
}

input[type="submit"] {
    background-image: linear-gradient(var(--formInputBackgroundColor), var(--formLabelColor));
    color: var(--formInputTextColor);
    margin: -1rem 1% 2rem;
}

input[type="submit"]:hover {
    box-shadow: 0 0 20px var(--formInputTextColor);
}

input:required {
    border-left: 10px solid var(--invalidFormColor);
}

input:required:valid {
    border-left: 10px solid var(--nav-color);
}



p.card {
    padding: 1rem;
     font-size: large;
}