@media screen and (min-width: 500px) {

    header img {
    margin-right: 4rem;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    h1, .hero, iframe {
        grid-column: 1 / 3;
    }

    nav ul.navList {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #hamburgerMenuButton {
        display: none;
    }
}